<div class="container-fluid" >
	<div class="row">
		<div class="col-sm-4 col-md-3 sidebar">
			<div ng-controller="OnDeckMiniCtrl as octrl">
				<h3>On Deck</h3>
				<p><b>Event:</b> {{octrl.event.name}}</p>
				<p><b>Date:</b> {{octrl.event.date}}</p>
				<p><b>Time:</b> {{octrl.event.time}}</p>
			</div>
			<div>
				<h3>Power Rankings</h3>
				<table class="table">
					<thead>
						<th>Player</th>
						<th>Points</th>
					</thead>
					<tbody ng-controller="StatisticsCtrl as sstrl">
						<tr ng-repeat="entry in  sstrl.stats.standings">
							<td>{{entry.name}}</td>
							<td>{{entry.points}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main" role="main">

			<div id="Announcements" class="row" ng-controller="AnnouncementsCtrl as actrl">
				<h2 class="sub-header">Announcements</h2>
				<div>
					<p>Updated: {{actrl.announcements.Announcement[0]._date}}</p>
					<ul ng-repeat="entry in actrl.announcements.Announcement[0].Item track by $index">
						<li>{{entry}}</li>
					</ul>
				</div>
			</div>
			
			<div id="TwoDay" class="row" ng-show="tctrl.showTwoDay" ng-controller="TwoDayCtrl as tctrl">
				<h2 class="sub-header">Two-Day Tournament Results</h2>
				<div><strong>Day One:</strong> {{tctrl.twoday.dayoneCourseName}} | <strong>Day Two:</strong> {{tctrl.twoday.daytwoCourseName}}</div>
				<div class="col-md-6 table-responsive" ng-repeat="flt in ['A', 'B']">
					<h4>{{flt}}-Flight</h4>
					<table class="table table-striped">
						<thead>
							<th>Player</th>
							<th>HDCP</th>
							<th>Day 1</th>
							<th>Day 2</th>
							<th>Total</th>
						</thead>
						<tbody>
							<tr ng-repeat="score in tctrl.twoday.scores | filter: {flight : flt}">
								<td>{{score.player}}</td>
								<td>{{score.handicap}}</td>
								<td>{{score.dayone}}</td>
								<td>{{score.daytwo}}</td>
								<td>{{score.totalNet}}</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>

			<div id="LastTournament" class="row" ng-controller="LastTournamentCtrl as lctrl">
			  <h2 class="sub-header">Last Tournament : <a href="#tournaments?season={{lctrl.tournament.tournament.seasonID}}&goToAnchor={{lctrl.tournament.tournament.id}}" >{{lctrl.tournament.tournament.courseName}} <span style="font-size:14px">{{lctrl.tournament.tournament.date | date : format}}</span></a></h2>
			  <div class="row">
				  <div class="col-md-6 table-responsive" ng-repeat="flt in ['A', 'B']">
					<h4>{{flt}}-Flight</h4>
					<table class="table table-striped">
						<thead>
							<th>Place</th>
							<th>Player</th>
							<th>Net</th>
							<th>Points</th>
							<th>Earnings</th>
						</thead>
						<tbody>
							<tr ng-repeat="winner in lctrl.tournament.winners | filter:{flt: flt}">
								<td>{{winner.place}}</td>
								<td>{{winner.player}}</td>
								<td>{{winner.net}}</td>
								<td>{{winner.points}}</td>
								<td>{{winner.earnings | currency}}</td>
							</tr>
						</tbody>
					</table>
				  </div>
			  </div>
			</div>
						
			<div id="Funnies" class="row" ng-controller="FunniesCtrl as fctrl">
				<h2 class="sub-header">Funnies
					<span style="font-size:18px; cursor:pointer" class="glyphicon glyphicon-refresh" ng-click="fctrl.changeFunny()"></span>
				</h2>
				<div style="text-align:center; margin:5px">
					<img id="fun_daily" ng-src="{{fctrl.funny}}" alt="HA HA HA" align="center" />
				</div>	
			</div>
			
			<div id="Minutes" class="row" ng-controller="MinutesCtrl as mctrl">
				<h2 class="sub-header">Minutes <a style="font-size:14px" href="#information">more...</a></h2>
					<p>From: {{mctrl.minutes.Minutes[0]._date}}</p>
					<ul ng-repeat="entry in mctrl.minutes.Minutes[0].item track by $index">
						<li>{{entry}}</li>
					</ul>
					<p>- {{mctrl.minutes.Minutes[0]._author}}</p>
			</div>

		</div>
	</div>
</div>