<div class="col-sm-12" >
	<div class="row">
		<page-menu menu-targets="pctrl.folderTargets" menu-title="Photos" menu-select="pctrl.changeFolder(item)"></page-menu>
	</div>	
	<div class="row">
		<h2 class="sub-header">{{pctrl.currentFolder.label}}</h2>
		<div style=" width: 50%; margin: auto;">
			<uib-carousel interval="pctrl.interval" active="pctrl.active">
			  <uib-slide class="carousel-inner" ng-repeat="photo in pctrl.currentFolder.photos" index="$index">
				<img ng-src="../asgolf-assets/photos/{{pctrl.currentFolder.name}}/{{photo.src}}" style="margin:auto;" />
				<div class="carousel-caption">
				  <p>{{photo.caption}}</p>
				</div>
			  </uib-slide>
			</uib-carousel>
		</div>
	</div>
</div>