<div class="col-sm-12">
	<div class="row">
		<page-menu menu-targets="{}" menu-title="Players"  menu-scroll="true"></page-menu>
	</div>
	<div class="row" >
		<div class="col-sm-6">
		<p>
			Course adjusted handicaps for the white tees.
			</p>
		</div>
	</div>
	<div class="row" >
		<div class="col-sm-3">
		 Course: 
			<select ng-model="ctrl.slope">
				<option ng-repeat="(key, prop) in ctrl.courses" value="{{prop}}">{{key}}</option>
			</select>
		</div>
		<div class="col-sm-3">
			<span class="pull-right"><input type="checkbox" ng-model="ctrl.activeOnly" >
			<span style="padding:5px">Active Only</span></input></span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-striped">
			  <thead>
				<tr>
				  <th class="col-sm-2"><a href="" ng-click="ctrl.predicate = 'name'; ctrl.reverse=!ctrl.reverse" title="Sort by name">Player</a></th>
				  <th class="col-sm-1"><a href="" ng-click="ctrl.predicate = 'handicap'; ctrl.reverse=!ctrl.reverse" title="Sort by handicap index">HDCP Index</a></th>
				  <th class="col-sm-1"><a href="" ng-click="ctrl.predicate = 'handicap'; ctrl.reverse=!ctrl.reverse" title="Sort by course adjusted handicap">Adjusted</a></th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="player in ctrl.players | filter: ctrl.activeOnlyFilter | orderBy:ctrl.predicate:ctrl.reverse">
					<td><a style="cursor:pointer" ng-click="ctrl.changePlayer(player)"  >{{player.firstName}} {{player.lastName}}</a></td>
					<td>{{player.handicap | number: 2}}</td>
					<td>{{ctrl.adjusted(player.handicap) | number: 0}}</td>
				</tr>
			  </tbody>
			</table>
		</div>
		</row>
	</div>
	
</div>
