<!-- Modal -->
<div>
	<div class="modal-header">
		<div>
			<button type="button" class="btn btn-default btn-sm pull-right close" style="margin-right:10px" ng-click="ctrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<span style="margin-right:10px; cursor:pointer" class="glyphicon glyphicon-arrow-right pull-right" ng-click="ctrl.nextPlayer()"></span>
			<span style="margin-right:10px; cursor:pointer" class="glyphicon glyphicon-arrow-left pull-right" ng-click="ctrl.prevPlayer()"></span>
		</div>
		<h4 class="modal-title" id="myModalLabel">{{ctrl.player.firstName}} {{ctrl.player.lastName}}</h4>
	</div>
	<div class="modal-body">
		<table class="table table-striped">
			<thead>
				<tr>
				  <th>Accepted</th>
				  <th>Course</th>
				  <th>Date</th>
				  <th>Total</th>
				  <th>Adjusted</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="round in ctrl.playerWithRounds.rounds">
					<td>{{round.accepted}}</td>
					<td>{{round.course}}</td>
					<td>{{round.date}}</td>
					<td>{{round.total}}</td>
					<td>{{round.adjusted}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- End Modal -->