<div class="col-sm-12">
	<div class="row" >
		<page-menu menu-title="Schedule" menu-targets="{ 'OnDeck': 'On Deck', 'Schedule': 'Full Schedule'}"
			 menu-scroll="true" ></page-menu>
	</div>
	<div id="OnDeck" class="row" ng-controller="OnDeckCtrl as ctrl">
		<sub-header title="'On Deck'"></sub-header>
		<p>Adjusted handicaps for <b>{{ctrl.course.name}}</b> : slope = {{ctrl.slope}} </p>
		<table class="table">
			<thead>
				<th>Player</th>
				<th>Index</th>
				<th>HDCP</th>
			</thead>
			<tbody>
				<tr ng-repeat="player in ctrl.players | filter : { active:true} | orderBy:'handicap':reverse">
					<td>{{player.firstName}} {{player.lastName}}</td>
					<td>{{player.handicap | number: 1}}</td>
					<td>{{ctrl.adjusted(player.handicap) | number: 0}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="Schedule" class="row" ng-controller="ScheduleCtrl as ctrl">
		<sub-header title="'Full Schedule'"></sub-header>
		<div class="row">
			<season-select season="ctrl.season" on-change="ctrl.changeSeason(season)" />
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<th>Date</th>
					<th>Time</th>
					<th>Course</th>
					<th>Green Fees</th>
					<th>Slope/Rating</th>
					<th>Comments</th>
				</thead>
				<tbody>
					<tr ng-repeat="event in ctrl.events">
						<td>{{event.date}}</td>
						<td>{{event.time}}</td>
						<td>{{event.name}}</td>
						<td>{{event.greenFees}}</td>
						<td>{{event.slopeRating}}</td>
						<td>{{event.comments}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
