<div class="col-sm-12">
	<div class="row">
		<page-menu menu-title="Statistics" menu-targets="ctrl.scrollTargets" menu-scroll="true"></page-menu>
	</div>
	<div class="row">
		<season-select on-change="ctrl.changeSeason(season)" season="ctrl.season" />
	</div>	

	<!-- Start of stats -->          
	<div id="standings" class="row">
		<h2 class="sub-header">Standings</h2>
		  <p>
			Average net score for the season.
		  </p>
		  <div>
			<table class="table table-striped">
			  <thead>
				<tr>
					  <th class="col-sm-2"><a href="" ng-click="predicate = 'name'; reverse=!reverse" title="Sort by name">Player</a></th>
					  <th class="col-sm-1"><a href="" ng-click="predicate = 'hdcp'; reverse=!reverse" title="Sort by handicap">HDCP</a></th>
					  <th class="col-sm-1"><a href="" ng-click="predicate = 'attendance'; reverse=!reverse" title="Sort by attendance">Tournaments</a></th>
					  <th class="col-sm-1"><a href="" ng-click="predicate = 'kps'; reverse=!reverse" title="Sort by KPs">KPs</a></th>
					  <th class="col-sm-1"><a href="" ng-click="predicate = 'earnings'; reverse=!reverse" title="Sort by earnings">Earnings</a></th>
					  <th class="col-sm-1"><a href="" ng-click="predicate = 'points'; reverse=!reverse" title="Sort by points">Points</a></th>
				</tr>
			  </thead>
			  <tbody>
				  <tr ng-repeat="entry in ctrl.stats.standings | orderBy:predicate:reverse">
					<td>{{entry.name}}</td>
					<td>{{entry.hdcp | number: 1 }}</td>
					<td>{{entry.attendance}}</td>
					<td>{{entry.kps}}</td>
					<td>{{entry.earnings | currency }}</td>
					<td>{{entry.points}}</td>
				</tr>
			  </tbody>
			</table>
		  </div>
	</div>
	
	<div id="vardon" class="row">
	<h2 class="sub-header">Vardon</h2>
	  <p>
		Average net score for the season.
	  </p>
	  <div >
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>Player</th>
			  <th>Tournaments</th>
			  <th>Net Average</th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="entry in ctrl.stats.vardon">
			<td>{{entry.name}}</td>
			<td>{{entry.rounds}}</td>
			<td>{{entry.average}}</td>
			</tr>
		  </tbody>
		</table>
	  </div>
  </div>
  
  <div id="sandBagger" class="row">
	  <h2 class="sub-header">Sandbagger</h2>
	  <p>
		How do you explain such a large split between high net and low net?
	  </p>
	  <div>
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>Player</th>
			  <th>Tournaments</th>
			  <th>Low Net</th>
			  <th>High Net</th>
			  <th>SAND DIFF</th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="entry in ctrl.stats.sandbagger">
				<td>{{entry.name}}</td>
				<td>{{entry.rounds}}</td>
				<td>{{entry.lo}}</td>
				<td>{{entry.hi}}</td>
				<td>{{entry.range}}</td>
			</tr>
		  </tbody>
		</table>
	  </div>
  </div>
	
	<div id="mostImproved" class="row">
	  <h2 class="sub-header">Most Improved</h2>
	  <p>
		From the start of the season, by percentage. Bruce improving by one stroke is better is far more impressive than Ken improving by one stroke.
	  </p>
	  <div>
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>Player</th>
			  <th>Tournaments</th>
			  <th>Change</th>
			  <th>Percent Change</th>
			 </tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="entry in ctrl.stats.mostImproved">
				<td>{{entry.name}}</td>
				<td>{{entry.count}}</td>
				<td>{{entry.change}}</td>
				<td>{{entry.percentChange }}</td>
			</tr>
		  </tbody>
		</table>
	  </div>
  </div>	  
  
  <div id="birdies" class="row">
		<h2 class="sub-header">U.F.O.s</h2>
		<p>
		Eagles, Birdies, Buzzards, and other Unidentifiable Flying Objects.
		</p>
		<uib-tabset>
			<uib-tab heading="Gross">
				<table class="table table-striped">
				  <thead>
					<tr>
					  <th>Player</th>
					  <th>Tournaments</th>
					  <th>Eagles</th>
					  <th>Birdies</th>
					  <th>Pars</th>
					  <th>Bogeys</th>
					  <th>Doubles</th>
					</tr>
				  </thead>
				  <tbody >
					<tr ng-repeat="entry in ctrl.stats.birdies">
						<td>{{entry.name}}</td>
						<td>{{entry.rounds}}</td>
						<td>{{entry.scores[-2]}}</td>
						<td>{{entry.scores[-1]}}</td>
						<td>{{entry.scores[0]}}</td>
						<td>{{entry.scores[1]}}</td>
						<td>{{entry.scores[2]}}</td>
					</tr>
				  </tbody>
				</table>
			</uib-tab>
			<uib-tab heading="Net Adjusted">
				<table class="table table-striped">
				  <thead>
					<tr>
					  <th>Player</th>
					  <th>Tournaments</th>
					  <th>Eagles</th>
					  <th>Birdies</th>
					  <th>Pars</th>
					  <th>Bogeys</th>
					  <th>Doubles</th>
					</tr>
				  </thead>
 
				  <tbody >
					<tr ng-repeat="entry in ctrl.stats.birdies">
						<td>{{entry.name}}</td>
						<td>{{entry.rounds}}</td>
						<td>{{entry.adjusted[-2]}}</td>
						<td>{{entry.adjusted[-1]}}</td>
						<td>{{entry.adjusted[0]}}</td>
						<td>{{entry.adjusted[1]}}</td>
						<td>{{entry.adjusted[2]}}</td>
					</tr>
				  </tbody>		      
				</table>
			</uib-tab>
		</uib-tabset>
	</div>
	
	<div id="goodBadUgly" class="row">
	  <h2 class="sub-header">The Good, The Bad, and The Ugly</h2>
	  <p>
		Low Gross, Low Net, High Gross, High Net, and just GROSS
	  </p>
	  <h3>The Good</h3>
	  <div class="row">
		  <div class="col-md-6">
			  <table class="table table-striped">
				<tbody>
					<tr ng-repeat="entry in ctrl.stats.goodBadUgly.LowGross.rounds">
					<td>{{ctrl.stats.goodBadUgly.LowGross.score}}: </td>
					<td>{{entry.player}}, {{entry.playDate}}, {{entry.course}}</td>
					</tr>
				</tbody>
			  </table>
		  </div>
		  <div class="col-md-6">		
			  <table class="table table-striped">
				<tbody>
					<tr ng-repeat="entry in ctrl.stats.goodBadUgly.LowNet.rounds">
					<td>{{ctrl.stats.goodBadUgly.LowNet.score}}: </td>
					<td>{{entry.player}}, {{entry.playDate}}, {{entry.course}}</td>
					</tr>
				</tbody>
			  </table>
		  </div>
	  </div>
	  <h3>The Bad</h3>
	  <div class="row">
		  <div class="col-md-6">
			  <table class="table table-striped">
				<tbody>
					<tr ng-repeat="entry in ctrl.stats.goodBadUgly.HighGross.rounds">
					<td>{{ctrl.stats.goodBadUgly.HighGross.score}}: </td>
					<td>{{entry.player}}, {{entry.playDate}}, {{entry.course}}</td>
					</tr>
				</tbody>
			  </table>
				  </div>
				  <div class="col-md-6">		
			  <table class="table table-striped">
				<tbody>
					<tr ng-repeat="entry in ctrl.stats.goodBadUgly.HighNet.rounds">
					<td>{{ctrl.stats.goodBadUgly.HighNet.score}}: </td>
					<td>{{entry.player}}, {{entry.playDate}}, {{entry.course}}</td>
					</tr>
				</tbody>
			  </table>
		  </div>
	  </div>
	  <h3>The Ugly</h3>
	  <div class="row">
		  <div class="col-md-6">
			  <table class="table table-striped">
				<tbody>
					<tr ng-repeat="entry in ctrl.stats.goodBadUgly.UglyHole.rounds">
					<td>{{ctrl.stats.goodBadUgly.UglyHole.score}}: </td>
					<td>{{entry.player}}, {{entry.playDate}}, {{entry.course}}</td>
					</tr>
				</tbody>
			  </table>
		  </div>
	  </div>
  </div>
	<div id="threePutt" class="row">
	  <h2 class="sub-header">Three Putt Kps</h2>
	  <p>
		Win the KP and three putt? More than three putt?!?!?!
	  </p>
		<uib-tabset>
			<uib-tab heading="Return" title="Return the Money">
			  <table class="table table-striped">
				 <thead>
					<tr>
					  <th>Player</th>
					  <th>Date</th>
					  <th>Course</th>
					  <th>Hole</th>
					  <th>Score</th>
					</tr>
				  </thead>
				<tbody>
					<tr ng-repeat="entry in ctrl.stats.threePutt">
					<td>{{entry.name}}</td>
					<td>{{entry.playDate}}</td>
					<td>{{entry.course}}</td>
					<td>{{entry.hole}}</td>
					<td>{{entry.score}}</td>
					</tr>
				</tbody>
			  </table>
		  </uib-tab>
		  <uib-tab heading="Earn" title="Earn the Money">
			  <table class="table table-striped">
				 <thead>
					<tr>
					  <th>Player</th>
					  <th>Date</th>
					  <th>Course</th>
					  <th>Hole</th>
					  <th>Score</th>
					</tr>
				  </thead>
				<tbody>
					<tr ng-repeat="entry in ctrl.stats.goodPuttingKp">
					<td>{{entry.name}}</td>
					<td>{{entry.playDate}}</td>
					<td>{{entry.course}}</td>
					<td>{{entry.hole}}</td>
					<td>{{entry.score}}</td>
					</tr>
				</tbody>
			  </table>
		  </uib-tab>
	  </uib-tabset>
  </div>
  
	<div id="drJekyll" class="row">
	  <h2 class="sub-header">Dr. Jekyll and Mr. Hyde</h2>
	  <p>
		The biggest splits between front and back.
	  </p>
	  <table class="table table-striped">
		 <thead>
			<tr>
			  <th>Player</th>
			  <th>Date</th>
			  <th>Course</th>
			  <th>Front</th>
			  <th>Back</th>
			  <th>Split</th>
			</tr>
		  </thead>
		<tbody>
			<tr ng-repeat="entry in ctrl.stats.drJekyll">
				<td>{{entry.name}}</td>
				<td>{{entry.playDate}}</td>
				<td>{{entry.course}}</td>
				<td>{{entry.front}}</td>
				<td>{{entry.back}}</td>
				<td>{{entry.split}}</td>
			</tr>
		</tbody>
	  </table>
  </div>
	<!-- End of stats -->          

	<!-- Start of records -->          
	<div id="RecordBook" class="row">
	  <h2 class="sub-header">Record Book</h2>
	  <p>All Time Stats</p>
	</div>
	<div id="kpSweeper" class="row">
		<h3>KP Sweeper</h3>
		<p>One Tournament : Four KPs : One Golfer</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Player</th>
					<th>Date</th>
					<th>Course</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="entry in ctrl.records.kpSweeper">
					<td>{{entry.name}}</td>
					<td>{{entry.playDate}}</td>
					<td>{{entry.course}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="holesInOne" class="row">
		<h3>Holes In One</h3>
		<p>One Tournament : One Hole : One Swing</p>
		<table class="table table-striped">
			 <thead>
				<tr>
				  <th>Player</th>
				  <th>Date</th>
				  <th>Course</th>
				  <th>Hole</th>
				</tr>
			  </thead>
			<tbody>
				<tr ng-repeat="entry in ctrl.records.holesInOne">
					<td>{{entry.player}}</td>
					<td>{{entry.playDate}}</td>
					<td>{{entry.course}}</td>
					<td>{{entry.hole}}</td>
				</tr>
			</tbody>
		</table>
	 </div>
  
  <div id="moneyPlayer" class="row">
	  <h3>Money Player</h3>
	  <div>
		  <span>
			I never win? Prove it! Here are the two day tournament totals.
		  </span>
		  <span class="pull-right"><input type="checkbox" ng-model="ctrl.moneyActiveOnly" >
		  <span style="padding:5px">Active Only</span></input></span>
	  </div>
	  <table class="table table-striped">
		 <thead>
			<tr>
			  <th>Player</th>
			  <th>No.</th>
			  <th>Points</th>
			  <th>Earnings</th>
			  <th>First</th>
			  <th>Second</th>
			  <th>Third</th>
			</tr>
		  </thead>
		<tbody>
			<tr ng-repeat="entry in ctrl.records.bigMoney | filter:ctrl.moneyActiveOnlyFilter ">
			<td>{{entry.playerName}}</td>
			<td>{{entry.tournaments}}</td>
			<td>{{entry.points}}</td>
			<td>{{entry.earnings | currency }}</td>
			<td>{{entry.first}}</td>
			<td>{{entry.second}}</td>
			<td>{{entry.third}}</td>
			</tr>
		</tbody>
	  </table>
  </div>
  
	<div id="whereWePlayed" class="row" ng-controller="WhereCtrl as wctrl">
		<h3>Where We've Played</h3>
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
					  <th>Course</th>
					  <th>Played</th>
					  <th ng-repeat="season in wctrl.seasons">{{season}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="course in wctrl.coursesList">
						<td><a href="" ng-click="wctrl.change(course)">{{course}}</a></td>
						<td class="text-right">{{wctrl.courseCount(course)}}</td>
						<td class="text-center" ng-repeat="season in wctrl.seasons">
							<a ng-show="wctrl.didPlay(course, season)"
							href="#tournaments?season={{season}}&goToAnchor={{wctrl.tournamentId(course, season)}}">
							<span style="cursor:pointer" class="glyphicon glyphicon-ok"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
  <!-- End of records -->          
</div>
