<div class="col-sm-12" ng-controller="TourCtrl as ctrl">
	<div class="row">
		<page-menu menu-targets="ctrl.scrollTargets" menu-title="Tournaments" menu-scroll="true"></page-menu>
	</div>
	<div class="row">
		<season-select season="ctrl.season" on-change="ctrl.changeSeason(season)" />
	</div>	
	<div id="summary" class="row">
		<sub-header title="'Season Summary'"></sub-header>
		<p>Click on week number to view tournament results.</p>
		<uib-tabset>
			<uib-tab heading="Points">
				<div id="SummaryPoints" class="tab-pane active table-responsive">
					<table class="table table-striped">
					  <thead>
						<tr>
						  <th class="col-sm-2">Player</th>
						  <th class="col-sm-1">Points</th>
						  <th ng-repeat="tour in ctrl.tournaments | orderBy:'id':false ">
							<a title="{{tour.courseName}}" style="cursor:pointer" ng-click="ctrl.scrollToTournament(tour.id)">{{$index + 1}}</a>
						  </th>
						</tr>
					  </thead>
					  <tbody>
						<tr ng-repeat="entry in ctrl.stats.standings ">
							<td>{{entry.name}}</td>
							<td>{{entry.points}}</td>
							<td ng-repeat="pts in entry.pointsByTour track by $index">
								<span ng-show="pts != 0" >{{ pts }}</span>
							</td>
						</tr>
					  </tbody>
					</table>
				</div>
			</uib-tab>
			<uib-tab heading="Earnings">
				<div id="SummaryEarnings" class="tab-pane table-responsive">
					<table class="table table-striped">
					  <thead>
						<tr>
						  <th class="col-sm-2">Player</th>
						  <th class="col-sm-1">Earnings</th>
						  <th ng-repeat="tour in ctrl.tournaments | orderBy:'id':false ">
							<a  title="{{tour.courseName}}"  style="cursor:pointer" ng-click="ctrl.scrollToTournament(tour.id)">{{$index + 1}}</a>
						  </th>
						</tr>
					  </thead>
					  <tbody>
						<tr ng-repeat="entry in ctrl.stats.standings ">
							<td>{{entry.name}}</td>
							<td>{{entry.earnings | currency }}</td>
							<td ng-repeat="pts in entry.earningsByTour track by $index">
								<span ng-show="pts != 0" >{{ pts | currency }}</span>
							</td>
						</tr>
					  </tbody>
					</table>
				</div>
			</uib-tab>
			<uib-tab heading="KPs">
				<div id="SummaryKps" class="tab-pane table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
							<th class="col-sm-2" >Player</th>
							<th class="col-sm-1">KPs</th>
							<th ng-repeat="tour in ctrl.tournaments | orderBy:'id':false ">
							<a title="{{tour.courseName}}"  style="cursor:pointer"  ng-click="ctrl.scrollToTournament(tour.id)">{{$index + 1}}</a>
							</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="entry in ctrl.stats.standings ">
							<td>{{entry.name}}</td>
							<td>{{entry.kps}}</td>
							<td ng-repeat="pts in entry.kpsByTour track by $index">
							<span ng-show="pts != 0" >{{ pts }}</span>
							</td>
							</tr>
						</tbody>
					</table>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
	
	<div id="twoDay" class="row">
		<sub-header title="'Two-Day Tournament Results'"></sub-header>
		<p><strong>Day One:</strong> {{ctrl.twoday.dayoneCourseName}} | <strong>Day Two:</strong> {{ctrl.twoday.daytwoCourseName}}</p>
		<div class="col-md-6 table-responsive" ng-repeat="flt in ['A', 'B']">
			<h4>{{flt}}-Flight</h4>
			<table class="table table-striped">
				<thead>
					<th>Player</th>
					<th>HDCP</th>
					<th>Day 1</th>
					<th>Day 2</th>
					<th>Total</th>
				</thead>
				<tbody>
					<tr ng-repeat="score in ctrl.twoday.scores | filter: {flight : flt}">
						<td>{{score.player}}</td>
						<td>{{score.handicap}}</td>
						<td>{{score.dayone}}</td>
						<td>{{score.daytwo}}</td>
						<td>{{score.totalNet}}</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
	
	<div id="tour_{{tour.tournament.id}}" class="row" ng-repeat="tour in ctrl.fullTournaments | orderBy:'tournament.date':!reverse" >
		<h2 class="sub-header">{{tour.tournament.courseName}} <span style="font-size:14px">{{tour.tournament.date | date : format}} | rating {{tour.tournament.rating}} | slope {{tour.tournament.slope}} </span>
			<span class="glyphicon glyphicon-arrow-up btn-xs pull-right" onclick="window.scrollTo(0,0);" title="Scroll To Top"></span>
		</h2>
		<h3>Winners</h3>
		<div class="row">
			<div class="col-md-6 table-responsive" ng-repeat="flt in ['A', 'B']">
				<h4>{{flt}}-Flight</h4>
				<table class="table table-striped">
					<thead>
						<th>Place</th>
						<th>Player</th>
						<th>Net</th>
						<th>Points</th>
						<th>Earnings</th>
					</thead>
					<tbody>
						<tr ng-repeat="winner in tour.winners | filter:{flt:flt}">
							<td>{{winner.place}}</td>
							<td>{{winner.player}}</td>
							<td>{{winner.net}}</td>
							<td>{{winner.points}}</td>
							<td>{{winner.earnings | currency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<h3>KPs</h3>
		<div class="row">
			<div class="col-md-6 table-responsive" ng-repeat="flt in ['A', 'B']">
				<h4>{{flt}}-Flight</h4>
				<table class="table table-striped">
					<thead>
						<th>Player</th>
						<th>Hole</th>
					</thead>
					<tbody>
						<tr ng-repeat="kp in tour.kps | filter: {'flight': flt}">
							<td>{{kp.player}}</td>
							<td>{{kp.hole}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<h3>Scoreboard</h3>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					  <th>FLT</th><th>Player</th><th>HDCP</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>FRT</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>BCK</th><th>Score</th><th>FRT Net</th><th>BCK Net</th><th>Net</th>
				</thead>
				<tbody>
					<tr ng-repeat="round in tour.rounds | orderBy: ['flight', 'totalNet']">
						<td>{{round.flight}}</td>
						<td>{{round.player}}</td>
						<td>{{round.hdcp}}</td>
						<td>{{round.holes[0]}}</td>
						<td>{{round.holes[1]}}</td>
						<td>{{round.holes[2]}}</td>
						<td>{{round.holes[3]}}</td>
						<td>{{round.holes[4]}}</td>
						<td>{{round.holes[5]}}</td>
						<td>{{round.holes[6]}}</td>
						<td>{{round.holes[7]}}</td>
						<td>{{round.holes[8]}}</td>
						<td>{{round.front}}</td>
						<td>{{round.holes[9]}}</td>
						<td>{{round.holes[10]}}</td>
						<td>{{round.holes[11]}}</td>
						<td>{{round.holes[12]}}</td>
						<td>{{round.holes[13]}}</td>
						<td>{{round.holes[14]}}</td>
						<td>{{round.holes[15]}}</td>
						<td>{{round.holes[16]}}</td>
						<td>{{round.holes[17]}}</td>
						<td>{{round.back}}</td>
						<td>{{round.total}}</td>
						<td>{{round.frontNet}}</td>
						<td>{{round.backNet}}</td>
						<td>{{round.totalNet}}</td>
					</tr>
				</tbody>
			</table>
		</div>	  
	</div>
</div>
